<!DOCTYPE html>
<html>

<head>
    <title>
        Thank you
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>
        Thank you
        <%= fullname%>
    </p>
</body>

</html>